#conteneur{
  position:relative;
  border: 25px solid #41992a;
  background-image: url("img/sol.png");
  background-repeat: repeat;
}

#player {
  /* position:absolute; */
  width: 80px;
  height: 80px;
  background: url('img/player_walk.png') 0px 0px;
}
