/* reset CSS */
*{
  margin: 0;
  padding: 0;
}
/* body */
body{
  background-image: url("img/mur-texture.jpg");
}
#conteneur{
<<<<<<< HEAD
  top: 55px;
    border: 25px solid #1b1b1b;
    background-image: url("img/sol.png");
    background-repeat: repeat;
    position: absolute;
    box-shadow: 0px 0px 10px 7px #adadad;
=======
  position:relative;
  border: 25px solid #41992a;
  background-image: url("img/sol.png");
  background-repeat: repeat;
}

#player {
  position:absolute;
  width: 20px;
  height: 20px;
>>>>>>> 1ecad8e8262f74e4f204c7bd42f21ec62babb984
}
